.wrapper {
    padding: 2rem;
}
.loading {
    margin-bottom: 2rem;
}
.loading-ring {
    >div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 5px solid transparent;
        border-top-color: var(--color);
        border-bottom-color: var(--color);
        background-color: transparent;
        transform: rotate(0);
        animation: loading-ring 2s infinite linear;
    }
}
.loading-tiktok {
    position: relative;
    min-height: 50px;
    >div {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        &:nth-child(1),
        &:nth-child(3) {
            background-color: #FE157A;
            animation-delay: -0.5s;
        }
        &:nth-child(1) {
            animation-name: loading-tiktok;
        }
        &:nth-child(2) {
            background-color: #3CFFFF;
            animation-name: loading-tiktok;
        }
        &:nth-child(3) {
            animation-name: loading-tiktok2;
        }
    }
}

@keyframes loading-ring {
    from {
        transform: rotate(-360deg);
    }
}

@keyframes loading-tiktok {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(60px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes loading-tiktok2 {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    49.99% {
        opacity: 1;
        transform: translateX(60px);
    }
    50% {
        opacity: 0;
        transform: translateX(60px);
    }
    100% {
        opacity: 0;
        transform: translateX(0);
    }
}