@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #eaeef0;
}
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader span {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #eaeef0;
    position: relative;
    border: 6px solid #eaeef0;
    box-shadow: -8px -8px 15px rgba(255,255,255.1),
        8px 8px 15px rgba(0,0,0,0.2),
        inset 3px 3px 5px rgba(0,0,0,0.1),
        inset -1px -1px 5px rgba(255,255,255,1);
}
.loader span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: #5c89ff;
    transform: scale(0);
    animation: animated 3s linear infinite, animteColor 5s linear infinite;
    animation-delay: calc(var(--i) * 0.2s);
}

@keyframes animated {
    0%, 24.99%, 75.0001% {
        transform: scale(0);
    }
    25%,75% {
        transform: scale(1);
    }
}
@keyframes animteColor {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}