@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --c-main: #017143;
}
body {
    font-family: "Poppins", sans-serif;
}
section#s-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
ul>li {
    list-style: none;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    z-index: 1;
}
.container {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {display: inline-block;position: relative;}
.logo img {
    max-width: 80px;
}
.menu {display: flex;}
.menu a {
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    transition: all 125ms;
}
.menu a:hover {color: var(--c-main);}
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
}
.content .text-box {
    max-width: 600px;
    flex-shrink: 0;
    position: relative;
}
.content .text-box h2 {
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 600;
}
.content .text-box h2 span {
    color: var(--c-main);
    font-size: 1.2em;
    font-weight: 700;
}
.content .btn {
    margin-top: 20px;
    background-color: var(--c-main);
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    display: inline-block;
}
.content .img-box {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}
.content .img-box img {max-width: 340px;}
.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    display: flex;
    align-items: center;
    transform: translateX(-50%);
}
.thumb li {
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: all 300ms linear;
}
.thumb li:hover {transform: translateY(-10px);}
.thumb img {max-width: 60px;}
.social {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.social li a {
    display: inline-block;
    margin: 10px 0;
}
.social img {height: 20px;filter: invert(1);}
.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--c-main);
    clip-path: circle(600px at right 800px);
}
@media (min-width: 1200px) {
    section#s-banner {height: 100vh;}
}
@media (min-width: 768px) {
    .toggle {display: none;}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .content .text-box {max-width: 50%;}
    .content .text-box h2 {font-size: 3em;}
}
@media (min-width: 768px) and (max-width: 1199.98px) {
    section#s-banner {
        height: 800px;
    }
    .content .img-box {justify-content: flex-end;}
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .content .text-box {max-width: 60%;}
    .content .text-box h2 {font-size: 2.5em;}
}
@media (max-width: 991.98px) {
    .content .img-box img {max-width: 250px;}
}
@media (max-width: 767.98px) {
    section#s-banner {
        min-height: 100vh;
    }
    .container {max-width: 100%;}
    .logo {
        display: flex;
        align-items: center;
    }
    .content {flex-direction: column;margin-top: 120px;padding-bottom: 100px;}
    .content .text-box {max-width: 100%;margin-bottom: 20px;}
    .content .text-box h2 {font-size: 2em;margin-bottom: 15px;}
    .menu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: scale(0);
        background-color: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform-origin: top right;
        transition: transform 125ms ease;
    }
    .menu a {margin: 0;padding: 20px;font-size: 20px;}
    .logo img {max-width: 60px;}
    .circle {clip-path: circle(300px at center bottom);}
    .thumb img {max-width: 40px;}
    .social {
        right: 0;
        padding: 0 5px;
        background-color: var(--c-main);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .social img {height: 15px;}
    .social li a {margin-top: 5px;margin-bottom: 5px;}
    .toggle {
        cursor: pointer;
        position: relative;
        z-index: 2;
    }
    .toggle>div {
        width: 25px;
        height: 2px;
        background-color: #333;
        margin-bottom: 5px;
        transition: transform 300ms ease;
    }
    .menu>li {opacity: 0;transition: opacity 125ms ease;transition-delay: 200ms;}
    .toggle>div:last-child {margin-bottom: 0;}
    .header.show .menu {transform: scale(1);}
    .header.show .toggle div:nth-child(1) {transform: translateY(7px) rotate(45deg);}
    .header.show .toggle div:nth-child(2) {transform: rotate(45deg);}
    .header.show .toggle div:nth-child(3) {transform: translateY(-7px) rotate(-45deg);}
    .header.show .menu>li {opacity: 1;}
}